# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\4.Edu\3.1.OS\Lab 6 linux\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
